
services:
  backend:
    build: ./backend
    container_name: portfolio-backend
    ports:
      - "8003:8000"
    volumes:
      - ./backend/media:/app/media
      - ./backend/staticfiles:/app/staticfiles
      - shared-data:/db_dump
    env_file:
      - ./backend/.env
    restart: unless-stopped
    networks:
      - portfolio-network

  frontend:
    build: ./frontend
    container_name: portfolio-frontend
    ports:
      - "3006:3000"
    volumes:
      - shared-data:/db_dump
    env_file:
      - ./frontend/.env
    restart: unless-stopped
    networks:
      - portfolio-network

volumes:
  shared-data:

networks:
  portfolio-network:
    driver: bridge

