
.navbar {
  overflow: hidden;
}
.bar{
  display: none;
}
.navbar a {
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.overview {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  margin: 10rem;
  width: 40rem;
}
.right {
  flex: 1;
  text-align: center;
  margin-top: 10rem;
}
.overview .intro {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  color: #21243d;
}
.overview .description {
  height: 4.125rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #21243d;
}
.overview .download {
  width: 13rem;
  height: 3rem;
  background: #ff6464;
  border-radius: 2px;
  border-style: none;
}
.overview .download-text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ffffff;
}
.recent-posts {
  padding-bottom: 1rem;
  background: #edf7fa;
}
.row1{
  display: flex;
}
.row2{
  display: flex;
}
.grid-item1 {
  float: left;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  align-items: center;
  color: #21243d;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.grid-item2 {
  float: left;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
  align-items: center;
  color: #00a8cc;
  margin: auto;
  text-decoration: none;
}
.grid-item3 {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}
.grid-item4 {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}
.post-title {
  margin: auto;
  margin-top: 2rem;
  width: 24rem;
  height: 5.5rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #21243d;
}
.post-date {
  margin: auto;
  width: 24rem;
  height: 2rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #21243d;
}
.post-description {
  margin: auto;
  width: 23rem;
  height: 7.5rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}
.featured-works{
  display: flex;
  flex-direction: column;
  width: 90%
}
.work {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.works-title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
  margin-left: 14rem;
  margin-top: 3rem;
}
.work-image {
  height: 11.25rem;
  border-radius: 6px;
  margin-left: auto;
}
.work-title {
  height: 11.25rem;
  width: 11.25rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin: auto;
}
.work-date {
  display: inline-flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  padding-left: 25px;
  align-items: center;
}
.work-cat {
  height: 34px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}
.work-description {
  width: 40rem;
  margin: auto;
  margin-left: 1rem;
}
.work-text{
  margin-top:1rem;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}
.footer {
  padding: 50px;
  align-items: center;
  text-align: center;
}
.text {
  height: 21px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #21243d;
}
.icon {
  margin: 5px;
}
@media (max-width: 320px){
  .navbar #open {
    display: none;
  }
  .navbar{
    overflow: hidden;
  }
  .navbar a {
    float: right;
  }
  .bar {
    display: inline-block;
    align-items: right;
  }
  .overview{
    flex-direction: column;
    text-align: center;
    margin-bottom:1rem;
  }
  .left {
    flex: 1;
    width: auto;
    margin: auto;
  }
  .right {
    flex: 1;
    order: -1;
    text-align: center;
    margin: auto;
  }
  .row1 {
    flex-wrap: wrap;
  }
  .row2 {
    flex-wrap: wrap;
  }
  .grid-item2{
    display: none;
  }
  .grid-item3{
    margin: 0.5rem;
  }
  .grid-item4{
    margin: 0.5rem;
  }
  .post-title {
    width: auto;
  }
  .post-date {
    width: auto;
  }
  .post-description {
    width: auto;
  }
  .work{
    display: flex;
    flex-direction: column;
  }
  .work-image{
    margin: auto;
  }
  .work-description{
    width: auto;
    margin: auto;
    margin-left: 1rem;
  }
  .works-title{
    margin: auto;
    margin-top: 2rem;
  }
}