.navbar {
  overflow: hidden;
}
.navbar a {
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.overview {
  display: flex;
  height: 500px;
}
.left {
  height: 500px;
  margin: auto;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.right {
  height: 500px;
  margin-top: auto;
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px;
  height: 300px;
}
.overview .intro {
  position: absolute;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 228px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}
.overview .description {
  position: absolute;
  width: 497px;
  height: 66px;
  left: 148px;
  top: 373px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
.overview .download {
  position: absolute;
  width: 208px;
  height: 47px;
  left: 148px;
  top: 477px;
  background: #ff6464;
  border-radius: 2px;
  border-style: none;
}
.overview .download-text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.recent-posts {
  height: 396px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background: #edf7fa;
  column-gap: 15px;
  row-gap: 0px;
}
.grid-item1 {
  width: 418px;
  height: 60px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #21243d;
  text-align: center;
  margin-left: auto;
}
.grid-item2 {
  width: 418px;
  height: 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  align-items: center;
  color: #00a8cc;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}
.grid-item3 {
  width: 418px;
  margin-left: auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  height: 295px;
}
.grid-item4 {
  width: 418px;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  height: 295px;
}
.post-title {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 374px;
  height: 85px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #21243d;
}
.post-date {
  display: flex;
  margin: auto;
  width: 374px;
  height: 34px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #21243d;
}
.post-description {
  display: flex;
  margin: auto;
  width: 368px;
  height: 117px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}

.work {
  display: flex;
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.works-title {
  display: flex;
  width: 152px;
  height: 60px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
  padding-left: 300px;
  padding-top: 50px;
}
.work-image {
  float: left;
  width: 246px;
  height: 180px;
  border-radius: 6px;
  margin-right: 10px;
}
.work-title {
  width: 305px;
  height: 44px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}
.work-date {
  display: inline-flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  padding-left: 25px;
  align-items: center;
}
.work-cat {
  width: 374px;
  height: 34px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}
.work-description {
  width: 594px;
  height: 93px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
.footer {
  padding: 50px;
  align-items: center;
  text-align: center;
}
.text {
  height: 21px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
}
.icon {
  margin: 10px;
}
