.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: transparent;
  color: white;
}

.navbar-logo img {
  margin-left: 20px;
  max-height: 80px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
