.home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.experience-timeline {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-tabs {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}

.category-tabs li {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-tabs li.active,
.category-tabs li:hover {
  background-color: #5273ff;
  color: white;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
