/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

/* Navbar Styles */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Projects Styles */
.projects,
.experiences,
.open-source-projects,
.open-source-contributions,
.testimonials,
.about-me,
.contact-inquiries {
  padding: 20px;
}

.projects ul,
.experiences ul,
.open-source-projects ul,
.open-source-contributions ul,
.testimonials ul,
.contact-inquiries ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects li,
.experiences li,
.open-source-projects li,
.open-source-contributions li,
.testimonials li,
.contact-inquiries li {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.projects li h3,
.experiences li h3,
.open-source-projects li h3,
.open-source-contributions li h3,
.testimonials li h3,
.contact-inquiries li h3 {
  color: #007bff;
}

.projects li p,
.experiences li p,
.open-source-projects li p,
.open-source-contributions li p,
.testimonials li p,
.contact-inquiries li p {
  color: #555;
}

/* About Me Styles */
.about-me img {
  max-width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.about-me a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.about-me a:hover {
  text-decoration: underline;
}
